/*
google font import
*/
/*@import url('./media/at1450px.css') only screen and (min-width: 1450px);
@import url('./media/at1024px.css') only screen and (min-width: 1024px);
@import url('./media/at780px.css') only screen and (min-width: 780px);
@import url('./media/at430px.css') only screen and (min-width: 430px);
@import url('./media/at370px.css') only screen and (min-width: 380px);
@import url('./media/at320px.css') only screen and (min-width: 320px);*/
@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}
body {
	background: linear-gradient(130deg, rgba(42, 69, 99, 0.72), rgba(200, 204, 210, 0.67));
	-webkit-background: linear-gradient(130deg, rgba(42, 69, 99, 0.72), rgba(200, 204, 210, 0.67));
	-moz-background: linear-gradient(130deg, rgba(42, 69, 99, 0.72), rgba(200, 204, 210, 0.67));
	-ms-background: linear-gradient(130deg, rgba(42, 69, 99, 0.72), rgba(200, 204, 210, 0.67));
}
#employee-section {
	height: 100%;
	width: 100%;
	display: inline-block;
	border: 2px solid rgba(100,100,100,0.5);
}
td {
	height: 190px;
	width: 400px;
	display: inline-block;
	padding: 20px 10px;
	margin: 1% 1%;
	border-radius: 4px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	background: linear-gradient(125deg, rgba(250, 250, 250, 0.1), rgba(125, 129, 143, 0.41));
	-webkit-background: linear-gradient(125deg, rgba(250, 250, 250, 0.1), rgba(125, 129, 143, 0.41));
	-moz-background: linear-gradient(125deg, rgba(250, 250, 250, 0.1), rgba(125, 129, 143, 0.41));
	-ms-background: linear-gradient(125deg, rgba(250, 250, 250, 0.1), rgba(125, 129, 143, 0.41));
}
img.profile-picture {
	display: inline-block;
	position: relative;
	top: 33.5px;
	left: 10px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
}

.contact-info {
	clear: both;
	float: right;
	text-align: center;
}
input.search {
	width: 350px;
	color: #000;
	font-family: sans-serif;
	font-size: 26px;
	font-weight: 700;
	line-height: 1.6rem;
	margin: 0 auto;
	display: inline;
	padding: 10px 0;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
}
#reset,
#search {
	width: 150px;
	height: 55px;
	display: inline;
	margin: 0 auto;
	box-shadow: 4px 4px 10px 0.8px #222;
	-webkit-box-shadow: 4px 4px 10px 0.8px #222;
	-moz-box-shadow: 4px 4px 10px 0.8px #222;
	-ms-box-shadow: 4px 4px 10px 0.8px #222;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;

}


.searchBarDiv {
	display: inline-block;
	padding: 50px 0;
}
