@media only screen and (min-width: 430px) {
	html, body {
		padding: 0;
		margin: 0;
		overflow-x: hidden;
		min-height: 100%;
	}
	td {
		height: 120px !important;
		width: 300px !important;
		position: relative;
		left: 170px;
	}
	table {
		position: relative;
		right: 100px;
	}
	img.profile-picture {
		height: 115px !important;
		width: 115px !important;
		margin: -10% 0;

	}
	.modal {
		width: 320px;
		height: 600px;
	}
	.picture {
		width: 125px;
		height: 125px;
	}
	.fa-arrow-right,
	.fa-arrow-left {
		font-size: 25px;
	}
	.fa-arrow-right {
		position: relative;
		left: 230px;
		top: -25px;
		right: -30px !important;
	}
	.fa-arrow-left {
		position: relative;
		bottom: 20px !important;

	}
	input[type="search"] {
		width: 150px;
		position: relative;
		left: 5px;
		top: 3px;
		font-size: 15px;
	}
	input[placeholder="Search People..."]::-webkit-input-placeholder {
		font-size: 15px !important;
	}
	#search {
		float: right;
		width: 40px;
		height: 25px;
		font-size: 10px !important;
		position: relative;
		right: 30px;
		top: 5px;
	}
	#reset {
		float: right;
		width: 40px;
		height: 25px;
		font-size: 10px !important;
		position: relative;
		top: 5px;
		left: 55px;
	}
	.email {
	font-size: 10px;
	font-family: 'Quattrocento Sans', sans-serif;
	}
	.username {
		font-size: 10px;
		font-family: 'Quattrocento Sans', sans-serif;
	}
	.city {
		font-size: 10px;
		font-family: 'Quattrocento Sans', sans-serif;
	}
	.number {
		font-size: 10px;
		font-family: 'Quattrocento Sans', sans-serif;
	}
	.country {
		font-size: 10px;
		font-family: 'Quattrocento Sans', sans-serif;
	}
	.street {
		font-size: 10px;
		font-family: 'Quattrocento Sans', sans-serif;
	}
	.name {
		font-size: 18px;
	}
}
